{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    <main class="main">
        <div class="page-header mt-30 mb-50">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">{{ category.title }}</h1>
                            <div class="breadcrumb">
                                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Shop <span></span> {{ category.title }}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row">
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{ products.count }}</strong> items for you!</p>
                        </div>
                        
                    </div>
                    <div class="row product-grid">
                        


                          {% for p in products %}
                                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'product_detail' p.pid %}">
                                                        <img class="default-img" src="{{ p.image.url}}" alt="" />
                                                        <img class="hover-img" src="{{p.image_hover.url}}" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    
                                                </div>
                                                <!-- <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">{{ p.get_percentage|floatformat:0 }}%</span>
                                                </div> -->
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">{{ p.category }}</a>
                                                </div>
                                                <h2><a href="{% url 'product_detail' p.pid %}">{{ p.title}}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                </div>
                                                
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span>{{ p.price }}</span>
                                                        <span class="old-price">{{ p.old_price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                        <!--end product card-->

                        
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
{% endblock content %} 